.App {
  font-family: sans-serif;
  text-align: center;
}
.nav-container {
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: space-around;
}
.menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.menu-container div {
  cursor: pointer;
}

.login-container {
  width: 200px;
  height: 200px;
  margin: 4rem auto;
  box-shadow: 0 0 10px black;
  padding: 2rem;
}
.login-container input,
button {
  margin-top: 1rem;
}
